/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : italic 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc02               { /* Common */
	font            : italic bold 18pt 'Viner Hand ITC';
	color           : #3e5281;
	}
.cc03               { /* Common */
	border          :   0.00pt none #ececec;
	}
span#e23            { /* algo1005012.gif */
	background      : transparent url(algo1005012.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :  45.00pt;
	}
span#e22            { /* algo1005011.gif */
	clip            : rect(0.00pt,459.00pt,6.75pt,0.00pt);
	background      : transparent url(algo1005011.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             : 149.25pt;
	width           : 459.00pt;
	height          :   6.75pt;
	}
span#e21            { /* algo1005010.gif */
	clip            : rect(0.00pt,459.00pt,15.00pt,0.00pt);
	background      : transparent url(algo1005010.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :  45.00pt;
	width           : 459.00pt;
	height          :  15.00pt;
	}
span#e20            { /* algo1005009.jpg */
	background      : transparent url(algo1005009.jpg) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :  60.00pt;
	width           : 562.50pt;
	height          :  89.25pt;
	}
h2#e19              { /* Say NO TO Drugs */
	text-align      : right;
	position        : absolute;
	left            : 407.25pt;
	top             : 120.00pt;
	width           : 146.25pt;
	height          :  24.00pt;
	}
h3#e18              { /* Diagnosis Of Addiction */
	text-align      : center;
	position        : absolute;
	left            : 123.75pt;
	top             : 405.00pt;
	width           : 420.00pt;
	height          :  20.25pt;
	}
div#e17             { /* As is true with virtuall... */
	text-align      : left;
	position        : absolute;
	left            : 122.25pt;
	top             : 435.00pt;
	width           : 421.50pt;
	height          : 390.00pt;
	}
img#e16             { /* bus20_home_on.gif */
	background-color: transparent;
	position        : absolute;
	left            : 252.00pt;
	top             :  45.00pt;
	width           :  32.25pt;
	height          :  15.00pt;
	}
img#e15             { /* algo1005008.jpg */
	position        : absolute;
	left            : 297.75pt;
	top             :  45.00pt;
	width           :  57.00pt;
	height          :  16.50pt;
	}
div#e14             { /* What types of drugs are ... */
	position        : absolute;
	left            : 453.75pt;
	top             : 254.25pt;
	width           : 103.50pt;
	height          :  26.25pt;
	}
div#e13             { /* Contents */
	position        : absolute;
	left            : 453.75pt;
	top             : 216.75pt;
	width           :  99.75pt;
	height          :  31.50pt;
	}
div#e12             { /* Symptoms and signs of dr... */
	position        : absolute;
	left            : 453.75pt;
	top             : 284.25pt;
	width           : 103.50pt;
	height          :  38.25pt;
	}
div#e11             { /* What happens to your bra... */
	position        : absolute;
	left            : 453.75pt;
	top             : 321.75pt;
	width           : 103.50pt;
	height          :  38.25pt;
	}
div#e10             { /* Diagnosis Of Addiction */
	position        : absolute;
	left            : 453.75pt;
	top             : 359.25pt;
	width           : 103.50pt;
	height          :  14.25pt;
	}
img#e9              { /* algo1005007.jpg */
	position        : absolute;
	left            :   0.00pt;
	top             :  44.25pt;
	width           : 109.50pt;
	height          : 112.50pt;
	}
h6#e8               { /* Prevention */
	font            : italic 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 456.00pt;
	top             : 380.25pt;
	width           : 103.50pt;
	height          :  14.25pt;
	}
a#a8                { /* Prevention */
	font            : italic 10pt 'Times New Roman', Book, Georgia, serif;
	}
span#e7             { /* algo1005006.jpg */
	background      : transparent url(algo1005006.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 171.00pt;
	width           : 112.50pt;
	height          : 114.00pt;
	}
span#e6             { /* algo1005005.jpg */
	background      : transparent url(algo1005005.jpg) no-repeat top left;
	position        : absolute;
	left            : 109.50pt;
	top             : 267.00pt;
	width           : 346.50pt;
	height          : 141.00pt;
	}
span#e5             { /* algo1005004.jpg */
	background      : transparent url(algo1005004.jpg) no-repeat top left;
	position        : absolute;
	left            : 113.25pt;
	top             : 159.00pt;
	width           : 331.50pt;
	height          : 115.50pt;
	}
img#e4              { /* algo1005003.jpg */
	position        : absolute;
	left            : 362.25pt;
	top             :  46.50pt;
	width           :  63.00pt;
	height          :  16.50pt;
	}
h6#e3               { /* Drugs Consumpsion */
	font            : italic 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 455.25pt;
	top             : 397.50pt;
	width           : 103.50pt;
	height          :  14.25pt;
	}
a#a3                { /* Drugs Consumpsion */
	font            : italic 10pt 'Times New Roman', Book, Georgia, serif;
	}
img#e2              { /* algo1005002.jpg */
	position        : absolute;
	left            : 443.25pt;
	top             :  46.50pt;
	width           :  30.75pt;
	height          :  16.50pt;
	}
img#e1              { /* algo1005001.jpg */
	position        : absolute;
	left            : 491.25pt;
	top             :  46.50pt;
	width           :  61.50pt;
	height          :  16.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(back_bus20.gif);
	position        : relative;
	width           : 570.00pt;
	height          : 825.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
